#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background: linear-gradient(to right, #6eec8d, #bfe634);
}
.Autobusito {
  border-radius: 30%;
  width: 30%;
  margin-top: 3%;
}
.container {
  padding: 2%;
  width: 30%;
  background: #5e54543d;
  margin-top: 8%;
  flex-wrap: nowrap;
  align-content: stretch;
  text-align: center;
  border-radius: 10px;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  border: none;
}
.button {
  margin: 2%;
  margin-bottom: 4%;
  width: 40%;
  border-radius: 10px;
}
